.CalculadoraContenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculadora{
    background: #000;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

.fila {
    display: flex;
    flex: 1 1;
}

.botonCalculador {
    background: #222;
    color: #fff;
    font-size: 40px;
    border: none;
    padding: 5px;
    display: flex;
    margin: 7px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: .5s;
    user-select: none;
}

.botonCalculador:hover, .botonClear:hover {
    background: #111;
    cursor: pointer;
    transition: .5s;
}

.botonCalculador:active, .botonClear:active {
    font-size: 35px;
    transition: .5s;
}

.operador{
    color:rgb(39, 183, 3)
}

.input {
    background: #222;
    height: 50px;
    border-radius: 7px;
    margin: 10px 5px 15px 5px;
    color: #fff;
    display: flex;
    font-size: 25px;
    white-space: nowrap;
    width: 308px;
    padding: 0 10px;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    overflow: hidden;
}

.botonClear {
    background: #222;
    height: 50px;
    border-radius: 7px;
    margin: 10px 5px 15px 5px;
    color: rgb(189, 11, 11);
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}
