* {
  margin: 0;
  padding: 0;
}

body{
  background: #eee;
  padding: 2rem;
}

h2{
  text-align: center;
  margin: 20px 0;
  font-size:40px;
}

h3{
  width: 100%;
  margin: 20px 0;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}